<a href="https://colab.research.google.com/github/Romagolf/Sales-Predictions/blob/main/Sales_Predictions_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 1

Juan Gilberto Escobar

## Loading Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# Load the Data
# load csv from url, display info, and preview rows 
sales_predictions_df = pd.read_csv('/content/drive/MyDrive/Colab Files/sales_predictions.csv')

sales_predictions_df.info()
sales_predictions_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Data Cleaning"

In [33]:
#1) How many rows and columns?
print("rows: " + str(len(sales_predictions_df)))
print("Columns: " + str(len(sales_predictions_df.columns)))

#2) What are the datatypes of each variable?

#print(sales_predictions_df.dtypes)

#3) Are there duplicates? If so, drop any duplicates.
print(sales_predictions_df.duplicated().sum())

#4) Identify missing values.
print("missing values: ")
print(sales_predictions_df.isna().sum())

#5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
#I decided to drop the missing rows to maintain the accuracy of the remaining data. 
#estimations for filling in the missing values would be difficult to calculate because not many of the data in other columns hints at the missing values
sales_predictions_df.dropna(inplace=True)
#6) Confirm that there are no missing values after addressing them.
print("missing values after addressing: ")
print(sales_predictions_df.isna().sum())
#7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).
print("__________________")
sales_predictions_df["Item_Fat_Content"].value_counts()

sales_predictions_df['Item_Fat_Content'] = sales_predictions_df['Item_Fat_Content'].replace('LF', 'Low Fat')
sales_predictions_df['Item_Fat_Content'] = sales_predictions_df['Item_Fat_Content'].replace('low fat', 'Low Fat')
sales_predictions_df['Item_Fat_Content'] = sales_predictions_df['Item_Fat_Content'].replace('reg', 'Regular')
sales_predictions_df['Item_Fat_Content'].value_counts()



#8) For any numerical columns, obtain the summary statistics of each (min, max, mean).
print(sales_predictions_df['Item_Weight'].min())
print(sales_predictions_df['Item_Weight'].max())
print(sales_predictions_df['Item_Weight'].mean())

print(sales_predictions_df['Item_Visibility'].min())
print(sales_predictions_df['Item_Visibility'].max())
print(sales_predictions_df['Item_Visibility'].mean())

print(sales_predictions_df['Item_MRP'].min())
print(sales_predictions_df['Item_MRP'].max())
print(sales_predictions_df['Item_MRP'].mean())

print(sales_predictions_df['Outlet_Establishment_Year'].min())
print(sales_predictions_df['Outlet_Establishment_Year'].max())
print(sales_predictions_df['Outlet_Establishment_Year'].mean())

print(sales_predictions_df['Item_Outlet_Sales'].min())
print(sales_predictions_df['Item_Outlet_Sales'].max())
print(sales_predictions_df['Item_Outlet_Sales'].mean())

rows: 4650
Columns: 12
0
missing values:
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64
missing values after addressing:
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64
__________________
4.555
21.35
12.898675268817204
0.0
0.188322664
0.06070047699053764
31.49
266.8884
141.71632787096775
1987
2009
1999.1905376344087
69.2432
10256.649
2272.0374886021505

## Exploratory Visuals

## Explanatory Visuals